* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Light';
}

header {
  height: 60px;
  background: rgb(135, 212, 0);
}
.Cap {
  display: flex;
  line-height: 60px;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
}
.zag-log {
  font-size: 18pt;
}
.menu {
  font-family: ITC Officina Sans LT Bold;
  letter-spacing: 5px;
}
main {
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;
}

.wrapper {
  display: flex;
  gap: 40px;
}
.wrapper .tasks {
  width: 250px;
}
.wrapper .tasks .list .element {
  display: flex;
}